<div class="modal" *ngIf="isOpen" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ isUpdating ? 'Update State' : 'State Details' }}
          </h5>
        </div>
        <div class="modal-body">
          <div class="modal-content-row" *ngIf="!isUpdating">
            <span class="modal-content-label">Unit No:</span>
            <span class="modal-content-value">{{ selectedRow?.UnitNo }}</span>
          </div>
  
          <div *ngIf="stateData && !isUpdating">
            <div class="modal-content-row">
              <span class="modal-content-label">State:</span>
              <span class="modal-content-value">{{ stateData.state==='Inop'?'In Operation':stateData.state }}</span>
            </div>
            <div class="modal-content-row">
              <span class="modal-content-label">Reason:</span>
              <span class="modal-content-value">{{ stateData.reason }}</span>
            </div>
            <div class="modal-content-row">
              <span class="modal-content-label">Mode:</span>
              <span class="modal-content-value">{{ stateData.mode | uppercase }}</span>
            </div>
          </div>
  
          <div *ngIf="isUpdating">
            <div class="form-group">
              <label>State:</label>
              <select [(ngModel)]="editedStateData.state" class="form-control">
                <option value="Inop">In Operation</option>
                <option value="Error">Error</option>
                <option value="Discovered">Discovered</option>
              </select>
            </div>
            <div class="form-group">
              <label>Reason:</label>
              <input [(ngModel)]="editedStateData.reason" class="form-control">
            </div>
            <div class="form-group">
              <label>Mode:</label>
              <select [(ngModel)]="editedStateData.mode" class="form-control">
                <option value="http">HTTP</option>
                <option value="https">HTTPS</option>
                <option value="ltts">LTTS</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn-close" (click)="close.emit()">Cancel</button>
          <button class="btn-update" *ngIf="isUpdating" (click)="onUpdate()" [disabled]="!editedStateData.mode || !editedStateData.reason || !editedStateData.state">Modify</button>
        </div>
      </div>
    </div>
  </div>