<div class="modal" *ngIf="isOpen" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import Firmware Version</h5>
      </div>
      <div class="modal-body">
        <div class="version-selection-container">
          <div class="radio-group">
            <div class="radio-option">
              <input
                type="radio"
                id="importType"
                name="meterTypeChoice"
                [(ngModel)]="versionSelectionMode"
                [value]="'import'"
                (ngModelChange)="onVersionModeChange()"
              />
              <label for="importType">Import from file</label>
            </div>
            <div class="radio-option1">
              <input
                type="radio"
                id="newType"
                name="meterTypeChoice"
                [(ngModel)]="versionSelectionMode"
                [value]="'new'"
                (ngModelChange)="onVersionModeChange()"
              />
              <label for="newType">Create New Version</label>
            </div>
            <div class="radio-option2">
              <input
                type="radio"
                id="existingType"
                name="meterTypeChoice"
                [(ngModel)]="versionSelectionMode"
                [value]="'existing'"
                (ngModelChange)="onVersionModeChange()"
              />
              <label for="existingType">Update Existing Version</label>
            </div>
          </div>
        </div>

        <div *ngIf="versionSelectionMode === 'import'" class="form-group">
          <div class="input-row">
            <label>Select File</label>
            <input
              type="file"
              (change)="onFileSelected($event)"
              accept=".json,.csv"
              class="form-control"
            />
          </div>
          <div *ngIf="generalError" class="error-message mt-2">
            {{ generalError }}
          </div>
        
          <div *ngIf="validationErrors.length > 0" class="validation-errors mt-2">
            <div class="error-title">Issues found in some firmware versions:</div>
            <ul>
              <li *ngFor="let error of validationErrors" class="error-item">
                <span *ngIf="error.row">Row {{ error.row }}: </span>
                <span>{{ error.field }}: {{ error.message }}</span>
              </li>
            </ul>
          </div>
          
          <div *ngIf="importedFileData.length > 0" class="imported-data-preview">
            <p *ngIf="!emptyImport"> Found {{importedFileData.length}} firmware versions
            </p>
          </div>
        </div>

        <ng-container *ngIf="versionSelectionMode !== 'import'">
          <div class="form-group">
            <div class="input-row">
              <label>Firmware Version</label>
              <input
                *ngIf="versionSelectionMode === 'new'"
                [(ngModel)]="firmwareData.firmware_version"
                (ngModelChange)="checkVersionUniqueness()"
                class="form-control"
                placeholder="Enter new firmware version"
              />
              <select
                *ngIf="versionSelectionMode === 'existing'"
                [(ngModel)]="firmwareData.firmware_version"
                class="form-control form-dropdown"
              >
                <option value="">Select Version</option>
                <option
                  *ngFor="let version of existingVersions"
                  [value]="version"
                >
                  Ver. {{ version }}
                </option>
              </select>
            </div>
            <span
              *ngIf="!isUnique && firmwareData.firmware_version"
              class="error-message"
            >
              Firmware Version must be unique
            </span>
          </div>

          <div class="form-group">
            <div class="input-row">
              <label>Start Date:</label>
              <input
                type="date"
                [(ngModel)]="firmwareData.start_date"
                class="form-control"
                [disabled]="!firmwareData.version_enabled"
              />
            </div>
          </div>

          <div class="form-group">
            <div class="input-row">
              <label>End Date:</label>
              <input
                type="date"
                [(ngModel)]="firmwareData.end_date"
                class="form-control"
                [disabled]="!firmwareData.version_enabled"
              />
            </div>
          </div>

          <div class="form-group form-group-last">
            <div *ngIf="versionSelectionMode === 'existing'" class="input-row">
              <label>Version Status:</label>
              <select
                [(ngModel)]="firmwareData.version_enabled"
                class="form-control form-dropdown"
              >
                <option [ngValue]="true">Enabled</option>
                <option [ngValue]="false">Disabled</option>
              </select>
            </div>

            <!-- new -->
            <div *ngIf="versionSelectionMode === 'new'" class="input-row" >
              <label>Version Status:</label>
              <select
                [(ngModel)]="firmwareData.version_enabled"
                class="form-control form-dropdown"
                [disabled]="disableEnableChoice"
              >
                <option [ngValue]="true">Enabled</option>
              </select>
            </div>

          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button class="btn-close" (click)="closeModal();close.emit()">Cancel</button>
        <button
          class="btn-update"
          [disabled]="
            (versionSelectionMode === 'import' &&
              importedFileData.length === 0) ||
            (versionSelectionMode !== 'import' &&
              (!isFormValid ||
                (!isNewVersion && !firmwareData.firmware_version))&& 'emptyImport')
          "
          (click)="onSave()"
        >
          Import
        </button>
      </div>
    </div>
  </div>
</div>
