<div class="modal" *ngIf="isVisible" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Meter Details</h5>
      </div>
      
      <div class="modal-body">
        <div class="modal-content-row">
          <span class="modal-content-label">Unit No:</span>
          <span class="modal-content-value">{{ meter?.UnitNo }}</span>
        </div>

        <div class="modal-content-row">
          <span class="modal-content-label">Meter Type:</span>
          <span class="modal-content-value">{{ meter?.Metertype }}</span>
        </div>

        <div class="modal-content-row">
          <span class="modal-content-label">Model:</span>
          <span class="modal-content-value">{{ meter?.Model }}</span>
        </div>

        <div class="modal-content-row">
          <span class="modal-content-label">Description:</span>
          <input type="text" class="form-control" [(ngModel)]="editedMeter!.description">
        </div>

        <div class="modal-content-row">
          <span class="modal-content-label">IP Address:</span>
          <input type="text" class="form-control" [(ngModel)]="editedMeter!.ip_address">
        </div>

        <div class="modal-content-row">
          <span class="modal-content-label">Communication ID:</span>
          <input type="text" class="form-control" [(ngModel)]="editedMeter!.communication_id">
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn-close" (click)="onClose()">Close</button>
        <button class="btn-update" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>