<div class="modal" *ngIf="isOpen" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isUpdating ? 'Activate Firmware' : 'Firmware Details' }}
        </h5>
      </div>
      <div class="modal-body">
        <div class="modal-content-row" *ngIf="!isUpdating">
          <span class="modal-content-label">Unit No:</span>
          <span class="modal-content-value">{{ selectedRow?.UnitNo }}</span>
        </div>
  
        <div *ngIf="firmwareData && !isUpdating">
          <div class="modal-content-row">
            <span class="modal-content-label">Firmware Version:</span>
            <span class="modal-content-value">{{ firmwareData.Firmware_version }}</span>
          </div>
          <div class="modal-content-row">
            <span class="modal-content-label">Activation Date:</span>
            <span class="modal-content-value">{{ formatDate(firmwareData.activation_date) }}</span>
          </div>
          <div class="modal-content-row">
            <span class="modal-content-label">Firmware Availability:</span>
            <span class="modal-content-value">{{ firmwareData.firmware_availability ? 'Available' : 'Not Available' }}</span>
          </div>
        </div>
  
        <div *ngIf="isUpdating">
          <div class="form-group">
            <label>Firmware Version:</label>
            <select 
              [(ngModel)]="editedFirmwareData.Firmware_version" 
              class="form-control"
              (change)="onFirmwareVersionChange($event)"
            >
              <option *ngFor="let version of firmwareVersions" [value]="version.firmware_version">
                {{ version.firmware_version }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Activation Date:</label>
            <input 
              type="date" 
              [(ngModel)]="editedFirmwareData.activation_date" 
              class="form-control"
              [min]="activationDateMin"
              [max]="activationDateMax"
            >
          </div>
          <div class="form-group">
            <label>Firmware Availability:</label>
            <select [(ngModel)]="editedFirmwareData.firmware_availability" class="form-control">
              <option value="available">Available</option>
              <option value="not available">Not Available</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-close" (click)="close.emit()">Cancel</button>
        <button class="btn-update" *ngIf="isUpdating" (click)="onUpdate()">Modify</button>
      </div>
    </div>
  </div>
</div>